---
// EN ESTE ARCHIVO SE CONFIGURA LA PAGINACION DE LOS POKEMONS
import type { GetStaticPaths } from "astro";
// Código Server Side Only - Momento de construccion BUILD TIME
import type { PokemonListResponse } from "@interfaces/pokemon-interface";

import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/pokemonCard.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=200");
  const { results } = (await res.json()) as PokemonListResponse;
  return paginate(results, { pageSize: 12 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
console.log(page.url);
---

<MainLayout title="Pokémon Static | Home">
  <div class="w-full h-screen flex flex-col justify-center items-center">
    <h1 class="text-5xl my-2 text-center">Pokémon</h1>

    <section
      aria-label="Listado de Pokémons"
      class="grid grid-cols-1 sm:grid-cols-4 gap-4 my-10"
    >
      {
        page.data.map((pokemon) => (
          <PokemonCard name={pokemon.name} url={pokemon.url} />
        ))
      }
    </section>
    <section>
      <nav class="flex justify-center items-center p-2 bg-gray-900 rounded-lg">
        <div>
          <a
            class:list={[
              "bg-gray-950 px-2 py-1 rounded-full text-2xl mr-1 transition-all duration-500 hover:bg-white hover:text-gray-950",
              {
                "bg-transparent cursor-default hover:bg-gray-900 hover:text-white":
                  !page.url.prev,
              },
            ]}
            href={page.url.prev}>←</a
          >
          <a
            class:list={[
              "bg-gray-950 px-2 py-1 rounded-full text-2xl mr-4 transition-all duration-500 hover:bg-white hover:text-gray-950",
              {
                "bg-transparent cursor-default hover:bg-gray-900 hover:text-white":
                  !page.url.next,
              },
            ]}
            href={page.url.next}>→</a
          >
        </div>
        <span
          class="bg-gray-950 px-[16px] py-[6px] rounded-full text-xl cursor-default"
          >Current page: {page.currentPage}</span
        >
      </nav>
    </section>
  </div>
</MainLayout>
