---
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "src/consts/site-info";
import NavBar from "src/shared/navBar.astro";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}
const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={"@imeagleangel"} />
    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
    <script>
      if (window.location.pathname === "/") {
        window.location.href = "/pokemons/1";
      }
    </script>

    <!-- <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style> -->
    <ViewTransitions />
  </head>
  <body class="bg-slate-800 text-slate-100 m-auto max-w-3xl font-Poppins">
    <NavBar />
    <slot />
  </body>
</html>
